<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>11001</string>
		<key>state</key>
		<string>已下单</string>
		<key>car</key>
		<string>粤A11910</string>
		<key>time</key>
		<string>2016-06-14 16:57:03</string>
		<key>image</key>
		<string>已下单.png</string>
		<key>money</key>
		<string>XXX</string>
	</dict>
	<dict>
		<key>code</key>
		<string>11001</string>
		<key>state</key>
		<string>配送中</string>
		<key>car</key>
		<string>粤A11910</string>
		<key>time</key>
		<string>2016-06-14 16:57:03</string>
		<key>image</key>
		<string>配送中.png</string>
		<key>money</key>
		<string>XXX</string>
	</dict>
</array>
</plist>
