<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>2016-04-15 16:45:01</string>
		<key>value</key>
		<string>10,000.00</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-06-01 10:30:01</string>
		<key>value</key>
		<string>25,000.00</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-06-03 10:30:01</string>
		<key>value</key>
		<string>30,000.00</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-06-06 10:30:01</string>
		<key>value</key>
		<string>50,000.00</string>
	</dict>
</array>
</plist>
